* {
    background-color: blueviolet;
    color: #241773;
}

body {
    height: 100%; 
}

h1 {
    border: 5px solid yellow;
    outline: 5px solid #241773; /* Raven's purple */
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 5em;           /* Default size of em is 16px */
    color: goldenrod;           /* Text color */
}

table {
    background-color: goldenrod;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: auto;
    border-collapse: collapse;
    cursor: pointer;
}

td {
    width: calc(100%/3);
    height: calc(100%/3);
    background-color: #9E7C0C; /* Metallic gold */
    font-size: 6em;
    font-weight: bold;
    color: #241773;
}

#board {
    padding: 20px;
}

.top {
    border-bottom: 20px solid black;
}

.bottom {
    border-top: 20px solid black;
}

.left {
    border-right: 20px solid black;
}

.right {
    border-left: 20px solid black;
}

#message {
    text-align:center;
    font-size: 2em;
    font-weight: bold;
    color: #241773;
}

#btn-container {
    position: relative;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#restart-btn {
    background-color: goldenrod;
    font-size: 1.5em;
    font-weight: bold;
    border: 5px solid #241773;
    border-radius: 20px;
    padding: 10px;
}